<mat-card class="product-card mat-elevation-z6" *ngFor="let produto of produtos;">
  <mat-card-content>
    <div class="card-produto">
      <div class="produto">
        <div class="info-produto">
          Produto: {{produto.nome}}
        </div>
        <div class="info-produto">
          Qtd Min: {{produto.qtdMinima}}
        </div>
        <div class="info-produto">
          Valor: {{produto.valor}}
        </div>
      </div>
      <div class="imagem-produto">
        <img src="https://avatars.githubusercontent.com/u/17763219?v=4" alt="" srcset="">
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="button-flex-container">
  <div class="button-container">
    <button mat-fab color="primary" aria-label="Adicionar novo produto" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>